@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body
{
    background: linear-gradient(90deg,purple 0% ,rgba(73,73,75,1) 20%, rgba(255,255,255,1) 55%, rgba(196,68,146,1) 100%);
}
#body
{ display: flex;
align-items: center;
height:80vh;
}
.slide
        {
         height:70%;
         width:100%;
         border: 3px solid #ff0095 !important;
        }
.slider
{   
    width: 32vw;
    height: 30vh;
   
    
}    
#container
{
    display: flex;
    flex-direction: row;
    width:80vw;
    height:40vw;
    justify-content: center;
    margin:auto;
    
}    

#Main .slide
{
    z-index:999999 !important;
    height: 90% !important;
}
#Left .slide ,#Right .slide 
{
    z-index: -999999;
    margin-top:17%;
    opacity: 0.65;
    /* width: 70% !important; */
}
#Left .slide
{
    border-right: 0 !important;
}
#Right .slide
{
    border-left: 0 !important;
}
button
{
    border: 0;
    border-radius:50%;
    width:5vw;
    height:5vw;
    font-size:2vw;
    font-weight:bolder;
    color:rgb(237, 100, 219);
}
h1
{
font-family:'Dancing Script', cursive;
font-weight: bold;
text-align: center;
text-shadow: 2px 2px rgb(237, 100, 219);
}
#manual
{
    display: flex;
    justify-content: center;
}
#manual button
{
    border-radius: 0;
    margin:0.5vw;
    height:1vh;
    background-color:rgb(237, 100, 219);
}